Package: com.nito.wireguard
Name: WireGuard
Pre-Depends: cy+model.appletv
Depends: firmware (>= 12.0), com.nito.breezy (>= 2.1-32)
Version: 1.0-4
Architecture: appletvos-arm64
Description: WireGuard for tvOS
Maintainer: Kevin Bradley
Author: Kevin Bradley
Section: Utilities
Depiction: https://nitosoft.com/ATV4/wireguard/depiction.json
